#loginPane, #registerPane, #createGroupPane {
  -fx-background-color: #424242;
}

.label {
  -fx-text-fill: #9E9E9E;
}

.button {
  -jfx-button-type: FLAT;
  -fx-background-color: #2962FF;
  -fx-text-fill: white;
}

.text-field, .text-area .content {
  -fx-background-color: #616161;
  -fx-border-radius: 2px;
}

.text-area {
  -fx-text-fill: #d3d3d3;
  -fx-background-color: #616161;
}

.text-field {
  -fx-text-fill: #d3d3d3;
}

.text-field:focused, .text-area:focused {
  -fx-border-color: #589AFF;
}

.text-area:focused .content {
  -fx-border-color: #589AFF;
  -fx-border-radius: 2px;
}

.tab-pane, .tab-header-area, .tab-header-background, .tab {
  -fx-background-color: #424242;
  -fx-focus-color: #d3d3d3;
}

.label, .tab-label {
  -fx-text-fill: #d3d3d3;
}

.list-view {
  -fx-background-color: #424242;
  -fx-text-fill: #d3d3d3;
  /*-fx-border-color: #9E9E9E;*/
}

.list-cell {
  -fx-text-fill: #d3d3d3;
}

.list-cell:empty:odd {
  -fx-background-color: #4c4c4c;
}

.list-cell:empty:even {
  -fx-background-color: #424242;
}

.list-cell:odd {
  -fx-background-color: #4c4c4c;
}

.list-cell:even {
  -fx-background-color: #424242;
}

.list-cell:filled:hover {
  /*-fx-cell-hover-color: #589AFF;*/
  -fx-text-fill: #589AFF;
}

.list-cell:filled:selected {
  -fx-text-fill: #589AFF;
}

.table-view .column-header,
.table-view .column-header-background .filler {
  -fx-background-color:  #424242;
  -fx-text-fill: #d3d3d3;
}

.table-view .column-header .label{
  -fx-text-fill: #d3d3d3;
  -fx-alignment: CENTER_LEFT;
}

.table-view .cell:even {
  -fx-background-color: #424242;
}

.table-view .cell:odd {
  -fx-background-color: #4c4c4c;
}

.table-cell .text{
  -fx-text-fill: #d3d3d3;
  -fx-fill: #d3d3d3;
}

.table-row-cell:selected .text {
  -fx-fill: #589AFF;
}

.context-menu {
  -fx-background-color: #616161;
  -fx-text-fill: #d3d3d3;
}

.menu-item:focused {
  -fx-background-color: #589AFF;
}

/*





 */

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
  -fx-background-color :transparent;
  -fx-border-color :transparent;
  -fx-background-radius : 0.0em;
  -fx-border-radius :2.0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
  -fx-background-color :transparent;
  -fx-background-radius : 0.0em;
  -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
  -fx-background-color :transparent;
  -fx-background-radius : 0.0em;
  -fx-padding :0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
  -fx-shape : " ";
  -fx-padding :0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
  -fx-shape : " ";
  -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
  -fx-background-color :derive(black,90.0%);
  -fx-background-insets : 2.0, 0.0, 0.0;
  -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
  -fx-background-color :derive(#4D4C4F,10.0%);
  -fx-background-insets : 2.0, 0.0, 0.0;
  -fx-background-radius : 2.0em;
}

.check-box {
  -fx-text-fill:  #9E9E9E;
}
